In [ ]:
!pip3 install ipython-sql

In [2]:
!pip3 install psycopg2

Requirement already satisfied: psycopg2 in /opt/homebrew/lib/python3.11/site-packages (2.9.7)

In [29]:
import psycopg2
import pandas as pd

In [2]:
%load_ext sql

In [3]:
%sql postgresql://postgres:password123@localhost:5433/postgres

In [28]:
%%sql
select distinct encounterclass from health_care.encounters limit 10;

 * postgresql://postgres:***@localhost:5433/postgres
10 rows affected.

[('ambulatory',),
 ('emergency',),
 ('home',),
 ('hospice',),
 ('inpatient',),
 ('outpatient',),
 ('snf',),
 ('urgentcare',),
 ('virtual',),
 ('wellness',)]

In [40]:
%%sql
select * from health_care.encounters where encounterclass = 'inpatient' and 
description = 'ICU Admission' 
limit 5

 * postgresql://postgres:***@localhost:5433/postgres
5 rows affected.

[('fcd188d5-dc28-b5f8-a55f-d910ba8320ad', datetime.datetime(2020, 12, 24, 12, 31, 59), datetime.datetime(2020, 12, 27, 12, 46, 59), 'd18118f9-41bc-d085-52cc-d754b480abad', '3ff0f58b-7a1f-3334-9449-ff15f68b7d86', '87b6152b-cbcd-3e70-824b-c528640d500c', 'a735bf55-83e9-331a-899d-a82a60b9f60c', 'inpatient', '1033', 'ICU Admission', 146.18, 3661.7, 3661.7, None),
 ('925dd9e6-8130-7fc7-5fd1-f3214013dcef', datetime.datetime(2021, 1, 11, 13, 14, 23), datetime.datetime(2021, 1, 19, 14, 35, 25), 'fc3fa416-4630-c8ae-0e17-9378420dea63', 'a855314b-4fb5-37fc-8015-5caa96c928b1', 'c74649ed-e4dd-3f45-a8ee-e6ffee3d4be2', 'a735bf55-83e9-331a-899d-a82a60b9f60c', 'inpatient', '1033', 'ICU Admission', 146.18, 17098.25, 13678.36, None),
 ('0fdc4034-577d-3a5d-c16a-0608a2fd96bb', datetime.datetime(2020, 5, 24, 1, 1, 29), datetime.datetime(2020, 5, 31, 2, 35, 25), 'aaf7ffd3-c0bf-9e31-5d68-6a23f98bef16', '4ffa4412-1493-3beb-b8f0-6614dde953a4', 'd371d40b-872f-3b06-9e3e-85512c032400', 'df166300-5a78-3502-a46a-832842197811', 'inpatient', '1033', 'ICU Admission', 146.18, 16082.4, 16032.4, None),
 ('ef3836eb-a20d-cc5a-6945-70aa13271377', datetime.datetime(2020, 11, 26, 9, 28, 20), datetime.datetime(2020, 12, 5, 17, 36, 22), '041abd2c-6eea-687e-12d0-89b331172b2f', 'af8566eb-8918-3ec7-ba44-92b6a2cf8097', 'ea958fcb-3a46-3783-b1af-dd3f60716bf3', 'a735bf55-83e9-331a-899d-a82a60b9f60c', 'inpatient', '1033', 'ICU Admission', 146.18, 18360.25, 14687.93, None),
 ('181d3c7e-ea03-9568-1e22-b7db7c70a2ef', datetime.datetime(2020, 12, 24, 6, 59, 42), datetime.datetime(2021, 1, 4, 21, 9, 49), '61ae04a8-8821-01ab-b7af-b8bc90e38a59', '3b021cb6-4745-3d9d-8436-230055f770bd', '9b8979b3-f8d5-301a-aeae-08b835238e2e', 'a735bf55-83e9-331a-899d-a82a60b9f60c', 'inpatient', '1033', 'ICU Admission', 146.18, 339720.4, 271776.02, None)]

In [43]:
%%sql
select * 
from health_care.encounters 
where encounterclass = 'inpatient' 
    and description = 'ICU Admission' 
    and stop >= '2023-01-01 00:00'
    and stop <= '2023-12-31 23:59'
limit 5

 * postgresql://postgres:***@localhost:5433/postgres
5 rows affected.

[('dd0e1e81-dc01-16cd-1f47-1d0352a3a793', datetime.datetime(2023, 5, 22, 21, 52, 47), datetime.datetime(2023, 5, 25, 22, 35, 37), '464d0210-f642-d34c-caef-0fd692bf362e', '74ab949d-17ac-3309-83a0-13b4405c66aa', 'cca9f38e-e799-3c66-b6ba-c6796e6fa9e9', 'a735bf55-83e9-331a-899d-a82a60b9f60c', 'inpatient', '1033', 'ICU Admission', 146.18, 6100.88, 4880.63, None),
 ('b67d9a31-53b5-ed92-a312-857ed9cb4733', datetime.datetime(2023, 1, 7, 18, 33, 34), datetime.datetime(2023, 1, 12, 19, 34, 42), '4bc835b9-2938-d4de-6d67-4b08f05ae590', '74ab949d-17ac-3309-83a0-13b4405c66aa', 'cca9f38e-e799-3c66-b6ba-c6796e6fa9e9', 'a735bf55-83e9-331a-899d-a82a60b9f60c', 'inpatient', '1033', 'ICU Admission', 146.18, 10878.94, 8703.03, None),
 ('73bff7f7-88b1-115a-c7f0-d4822ddf673d', datetime.datetime(2023, 1, 2, 14, 4, 13), datetime.datetime(2023, 1, 8, 14, 54, 2), '9cb28938-cd55-aafb-5471-22a0263b59a4', '74ab949d-17ac-3309-83a0-13b4405c66aa', 'cca9f38e-e799-3c66-b6ba-c6796e6fa9e9', 'a735bf55-83e9-331a-899d-a82a60b9f60c', 'inpatient', '1033', 'ICU Admission', 146.18, 10899.17, 8719.19, None),
 ('a70ae9e6-8d27-1edd-df3a-ae0facac008c', datetime.datetime(2023, 2, 7, 14, 54, 2), datetime.datetime(2023, 2, 10, 15, 38, 6), '9cb28938-cd55-aafb-5471-22a0263b59a4', '74ab949d-17ac-3309-83a0-13b4405c66aa', 'cca9f38e-e799-3c66-b6ba-c6796e6fa9e9', 'a735bf55-83e9-331a-899d-a82a60b9f60c', 'inpatient', '1033', 'ICU Admission', 146.18, 6155.38, 4924.23, None),
 ('df634e65-4bbe-f9b1-a919-8dd659bf8e38', datetime.datetime(2023, 2, 16, 8, 48, 29), datetime.datetime(2023, 2, 18, 9, 51, 36), 'bc3e2a6d-18ab-77d0-9765-60b36fe48713', '74ab949d-17ac-3309-83a0-13b4405c66aa', 'cca9f38e-e799-3c66-b6ba-c6796e6fa9e9', 'df166300-5a78-3502-a46a-832842197811', 'inpatient', '1033', 'ICU Admission', 146.18, 4781.79, 4731.79, None)]

In [44]:
%%sql
select * 
from health_care.encounters 
where encounterclass = 'inpatient' 
    and description = 'ICU Admission' 
    and stop between '2023-01-01 00:00' and '2023-12-31 23:59'
limit 5

 * postgresql://postgres:***@localhost:5433/postgres
5 rows affected.

[('5e518298-033b-f15e-9b42-d022d9e5d72b', datetime.datetime(2023, 1, 29, 6, 14, 48), datetime.datetime(2023, 2, 5, 6, 21, 32), '25a756a0-9e2f-db0d-cfdb-0356aee644a1', '74ab949d-17ac-3309-83a0-13b4405c66aa', 'cca9f38e-e799-3c66-b6ba-c6796e6fa9e9', 'a735bf55-83e9-331a-899d-a82a60b9f60c', 'inpatient', '1033', 'ICU Admission', 146.18, 10881.1, 8704.71, None),
 ('349c8bfa-a173-2c48-11e4-f6ad79b2cafa', datetime.datetime(2023, 2, 17, 9, 39, 56), datetime.datetime(2023, 2, 21, 10, 33, 55), '17c2fd58-b652-87a8-0d84-279188206a92', '74ab949d-17ac-3309-83a0-13b4405c66aa', 'cca9f38e-e799-3c66-b6ba-c6796e6fa9e9', 'a735bf55-83e9-331a-899d-a82a60b9f60c', 'inpatient', '1033', 'ICU Admission', 146.18, 7885.28, 6308.12, None),
 ('2ea7c605-b11f-db82-82ec-5f347dfe4bfe', datetime.datetime(2023, 4, 14, 10, 51, 42), datetime.datetime(2023, 4, 16, 11, 51, 36), 'cacaf98f-d3e4-73b4-4fd4-308dedfeef3a', '74ab949d-17ac-3309-83a0-13b4405c66aa', 'cca9f38e-e799-3c66-b6ba-c6796e6fa9e9', 'a735bf55-83e9-331a-899d-a82a60b9f60c', 'inpatient', '1033', 'ICU Admission', 146.18, 5699.12, 4559.25, None),
 ('2638764d-71c7-9102-5dc2-3743b675dfdf', datetime.datetime(2023, 1, 20, 15, 39, 2), datetime.datetime(2023, 1, 23, 16, 20, 55), 'c1c9d29a-3608-424b-7546-f6242d699471', '74ab949d-17ac-3309-83a0-13b4405c66aa', 'cca9f38e-e799-3c66-b6ba-c6796e6fa9e9', 'd18ef2e6-ef40-324c-be54-34a5ee865625', 'inpatient', '1033', 'ICU Admission', 146.18, 7674.34, 7639.34, None),
 ('22d99400-63ac-f9bd-0b19-9f6ce0389092', datetime.datetime(2023, 2, 7, 3, 18, 40), datetime.datetime(2023, 2, 15, 4, 2, 33), '1b85572c-6bad-89b6-3c94-d10ec2e4869b', '74ab949d-17ac-3309-83a0-13b4405c66aa', 'cca9f38e-e799-3c66-b6ba-c6796e6fa9e9', 'a735bf55-83e9-331a-899d-a82a60b9f60c', 'inpatient', '1033', 'ICU Admission', 146.18, 14438.5, 11550.6, None)]

In [ ]:
%%sql
select * 
from health_care.encounters 
where encounterclass = 'inpatient' 
    and description = 'ICU Admission' 
    and stop >= '2023-01-01 00:00'
    and stop <= '2023-12-31 23:59'
limit 5

In [47]:
%%sql
select * 
from health_care.encounters 
where encounterclass in ('outpatient', 'ambulatory')
limit 5

 * postgresql://postgres:***@localhost:5433/postgres
5 rows affected.

[('b283bc67-3cc2-4e49-9e90-bf5d50a795b6', datetime.datetime(2020, 1, 12, 10, 39, 45), datetime.datetime(2020, 1, 12, 10, 54, 45), '50a65e41-e47b-2f72-a83d-8e678d2153fb', '74ab949d-17ac-3309-83a0-13b4405c66aa', 'cca9f38e-e799-3c66-b6ba-c6796e6fa9e9', 'd18ef2e6-ef40-324c-be54-34a5ee865625', 'ambulatory', '1034', 'Telemedicine', 142.58, 142.58, 107.58, None),
 ('cc559eb6-5d94-f732-91b4-142d4b724474', datetime.datetime(2020, 1, 14, 10, 39, 45), datetime.datetime(2020, 1, 14, 10, 54, 45), '50a65e41-e47b-2f72-a83d-8e678d2153fb', '74ab949d-17ac-3309-83a0-13b4405c66aa', 'cca9f38e-e799-3c66-b6ba-c6796e6fa9e9', 'd18ef2e6-ef40-324c-be54-34a5ee865625', 'ambulatory', '1034', 'Telemedicine', 142.58, 142.58, 107.58, None),
 ('4e37e37f-0e6c-73a1-62c1-8a6cee197610', datetime.datetime(2019, 11, 15, 9, 41, 27), datetime.datetime(2019, 11, 15, 9, 56, 27), '50a65e41-e47b-2f72-a83d-8e678d2153fb', '74ab949d-17ac-3309-83a0-13b4405c66aa', 'cca9f38e-e799-3c66-b6ba-c6796e6fa9e9', 'd18ef2e6-ef40-324c-be54-34a5ee865625', 'ambulatory', '1034', 'Telemedicine', 142.58, 142.58, 107.58, None),
 ('fe00c2ff-5dc7-d237-5f49-c1fe1e07482b', datetime.datetime(2019, 11, 13, 9, 41, 27), datetime.datetime(2019, 11, 13, 9, 56, 27), '50a65e41-e47b-2f72-a83d-8e678d2153fb', '74ab949d-17ac-3309-83a0-13b4405c66aa', 'cca9f38e-e799-3c66-b6ba-c6796e6fa9e9', 'd18ef2e6-ef40-324c-be54-34a5ee865625', 'ambulatory', '1034', 'Telemedicine', 142.58, 142.58, 107.58, None),
 ('b93b7e15-9620-42eb-a67d-628a73810867', datetime.datetime(2019, 11, 12, 9, 41, 27), datetime.datetime(2019, 11, 12, 9, 56, 27), '50a65e41-e47b-2f72-a83d-8e678d2153fb', '74ab949d-17ac-3309-83a0-13b4405c66aa', 'cca9f38e-e799-3c66-b6ba-c6796e6fa9e9', 'd18ef2e6-ef40-324c-be54-34a5ee865625', 'ambulatory', '1034', 'Telemedicine', 142.58, 142.58, 107.58, None)]

In [5]:
%%sql
select * 
from health_care.conditions 
limit 5

 * postgresql://postgres:***@localhost:5433/postgres
5 rows affected.

[(datetime.date(1953, 6, 3), None, '531997f3-3373-058b-6315-bab2b9f05502', 'b67eb71d-01d4-e225-7203-8d226d9079de', '473.8', 'Other chronic sinusitis'),
 (datetime.date(1952, 3, 12), None, '12556183-9867-11ec-e7d6-4cc149e28bf6', '56c1ae8b-c774-0259-9291-782e502027e4', '473.9', 'Unspecified sinusitis (chronic)'),
 (datetime.date(1957, 10, 9), None, '82e05bd5-78f8-2fe4-caba-33c4afdcc9ef', '5f37acfc-84c0-7bac-284f-2b8fd9ef61ac', 'V60.9', 'Unspecified housing or economic circumstance'),
 (datetime.date(1954, 2, 13), datetime.date(1956, 2, 25), '63dc3aeb-c77c-441a-ffbd-a4d6985fbd77', '4c822b22-96ee-f968-e29a-0227af97c084', 'V62.89', 'Other psychological or physical stress, not elsewhere classified'),
 (datetime.date(1951, 9, 13), None, 'd70308e9-5bce-1154-cefe-27f61aede16d', '9967cce2-0a85-9dcd-92f1-52aa0fee7d7a', '541', 'Appendicitis, unqualified')]

In [9]:
%%sql
select 
    description, 
    count(*) as count_of_conditions
from health_care.conditions 
group by description
order by count(*) desc
limit 5

 * postgresql://postgres:***@localhost:5433/postgres
5 rows affected.

[('Other psychological or physical stress, not elsewhere classified', 58962),
 ('Pregnant state, incidental', 9872),
 ('Acute bronchitis', 5684),
 ('Body Mass Index 30.0-30.9, adult', 5461),
 ('Unemployment', 4717)]

In [10]:
%%sql
select 
    description, 
    count(*) as count_of_conditions
from health_care.conditions 
group by description
having count(*) > 2000
order by count(*) desc
limit 5

 * postgresql://postgres:***@localhost:5433/postgres
5 rows affected.

[('Other psychological or physical stress, not elsewhere classified', 58962),
 ('Pregnant state, incidental', 9872),
 ('Acute bronchitis', 5684),
 ('Body Mass Index 30.0-30.9, adult', 5461),
 ('Unemployment', 4717)]

In [11]:
%%sql
select 
    description, 
    count(*) as count_of_conditions
from health_care.conditions 
where description != 'Body Mass Index 30.0-30.9, adult	'
group by description
having count(*) > 2000
order by count(*) desc
limit 5

 * postgresql://postgres:***@localhost:5433/postgres
5 rows affected.

[('Other psychological or physical stress, not elsewhere classified', 58962),
 ('Pregnant state, incidental', 9872),
 ('Acute bronchitis', 5684),
 ('Body Mass Index 30.0-30.9, adult', 5461),
 ('Unemployment', 4717)]

# Questions-1:
# Return all patients who are diagonised with Chronic Kidney Disease (use condition codes)
# Codes = '585.1', '585.2', '585.3', '585.4'

In [14]:
%%sql

select * from health_care.conditions
where code in ('585.1', '585.2', '585.3', '585.4')
limit 10;

 * postgresql://postgres:***@localhost:5433/postgres
10 rows affected.

[(datetime.date(1959, 2, 8), datetime.date(1971, 5, 2), '56b54457-00d2-19ed-a4c5-dddcf9240e8b', '4a93d4bc-b30a-cc68-5071-19777cb78552', '585.3', 'Chronic kidney disease, Stage III (moderate)'),
 (datetime.date(1952, 4, 20), datetime.date(1964, 2, 2), 'ade28aed-d98a-c3c7-1249-fbb9b28c62a6', '1de2ee67-119d-fd52-ceee-a5094a5ac8b0', '585.3', 'Chronic kidney disease, Stage III (moderate)'),
 (datetime.date(1957, 10, 23), datetime.date(1973, 4, 24), 'f3a52e00-223f-d453-bd20-7d56a182bbb0', '277b0791-f73d-b8a2-38e6-617dac4cf30d', '585.3', 'Chronic kidney disease, Stage III (moderate)'),
 (datetime.date(1928, 9, 7), datetime.date(1942, 3, 7), '5e742a3c-8c06-20c3-ede8-82d26d30d963', '3efe1ece-aeb8-d6ac-8a17-e01cf65d3a10', '585.1', 'Chronic kidney disease, Stage I'),
 (datetime.date(1960, 6, 5), datetime.date(1964, 2, 2), 'ade28aed-d98a-c3c7-1249-fbb9b28c62a6', '5106c500-95c5-121e-90d3-02dbf8c773fe', '585.4', 'Chronic kidney disease, Stage IV (severe)'),
 (datetime.date(1950, 11, 5), datetime.date(1971, 5, 2), '56b54457-00d2-19ed-a4c5-dddcf9240e8b', '27717f84-de98-d753-4485-ec37ec59a65f', '585.2', 'Chronic kidney disease, Stage II (mild)'),
 (datetime.date(1939, 4, 28), None, '5e742a3c-8c06-20c3-ede8-82d26d30d963', 'd76bd77d-9f14-8f74-1875-fce097e1f54a', '585.4', 'Chronic kidney disease, Stage IV (severe)'),
 (datetime.date(1945, 12, 27), datetime.date(1977, 12, 24), '21761e52-ca38-521f-b147-e9d6390fc093', '4a1bf501-6d28-08e8-20c7-c4bf15e3c737', '585.1', 'Chronic kidney disease, Stage I'),
 (datetime.date(1955, 5, 6), datetime.date(1973, 2, 24), 'c5ad11f6-c6ed-cab5-1c60-bbe5a67f9afa', '33924354-f70b-cfa4-caab-ada2b283852a', '585.1', 'Chronic kidney disease, Stage I'),
 (datetime.date(1957, 10, 7), datetime.date(1984, 4, 2), '07c02184-53b3-dd5f-70e5-30b1138d081d', '28bd0aca-c371-509a-f6ff-8ed18a01516d', '585.1', 'Chronic kidney disease, Stage I')]

# Questions-2:
# Return number of patients per city in Descending order

In [18]:
%%sql

select 
    city,
    count(*) as number_of_patients_per_city
from health_care.patients
group by city
order by count(*) desc
limit 10

 * postgresql://postgres:***@localhost:5433/postgres
10 rows affected.

[('Boston', 1016),
 ('Worcester', 295),
 ('Springfield', 244),
 ('Lowell', 193),
 ('Cambridge', 166),
 ('New Bedford', 164),
 ('Newton', 156),
 ('Quincy', 156),
 ('Lynn', 147),
 ('Lawrence', 138)]

# Questions-3:
# Return number of patients per city in Descending order
# Must have atleast 100 patients from the city

In [21]:
%%sql

select 
    city,
    count(*) as number_of_patients_per_city
from health_care.patients
group by city
having count(*) > 100
order by count(*) desc
limit 10

 * postgresql://postgres:***@localhost:5433/postgres
10 rows affected.

[('Boston', 1016),
 ('Worcester', 295),
 ('Springfield', 244),
 ('Lowell', 193),
 ('Cambridge', 166),
 ('New Bedford', 164),
 ('Quincy', 156),
 ('Newton', 156),
 ('Lynn', 147),
 ('Lawrence', 138)]

# LEFT JOIN on 'Patients' and 'Immunizations' tables

In [4]:
%%sql

select 
    p.first,
    p.last,
    i.*
from health_care.patients as p 
left join health_care.immunizations as i
on p.id = i.patient
limit 10

 * postgresql://postgres:***@localhost:5433/postgres
10 rows affected.

[('Adelina', 'Treutel', datetime.datetime(2011, 7, 27, 14, 9, 40), 'cc53e99a-6715-603f-b074-eea93fe11e20', 'ac02e16e-618c-e24a-b1d8-d4287503e731', 5301, 'Herpes Zoster Vaccine (Live)'),
 ('Adelina', 'Treutel', datetime.datetime(2011, 7, 27, 14, 9, 40), 'cc53e99a-6715-603f-b074-eea93fe11e20', 'ac02e16e-618c-e24a-b1d8-d4287503e731', 5302, 'Seasonal Flu Vaccine'),
 ('Hedy', 'Von', datetime.datetime(2013, 12, 9, 4, 14, 13), '73d3ebe3-e656-b9de-fd61-88d370a86d51', '2bb23033-f5e9-024e-35fb-9d939ca69f18', 5302, 'Seasonal Flu Vaccine'),
 ('Hedy', 'Von', datetime.datetime(2014, 12, 15, 4, 14, 13), '73d3ebe3-e656-b9de-fd61-88d370a86d51', '570d34ce-6c5d-bbb0-669b-66abbd3fd112', 5302, 'Seasonal Flu Vaccine'),
 ('Adelina', 'Treutel', datetime.datetime(2012, 8, 1, 14, 9, 40), 'cc53e99a-6715-603f-b074-eea93fe11e20', 'fa522491-1733-3943-5af4-944767376175', 5301, 'Herpes Zoster Vaccine (Live)'),
 ('Adelina', 'Treutel', datetime.datetime(2012, 8, 1, 14, 9, 40), 'cc53e99a-6715-603f-b074-eea93fe11e20', 'fa522491-1733-3943-5af4-944767376175', 5302, 'Seasonal Flu Vaccine'),
 ('Adelina', 'Treutel', datetime.datetime(2012, 8, 1, 14, 9, 40), 'cc53e99a-6715-603f-b074-eea93fe11e20', 'fa522491-1733-3943-5af4-944767376175', 5303, 'Five doses of tetanus toxoid, preservative-free and adsorbed, for adults.'),
 ('Adelina', 'Treutel', datetime.datetime(2013, 8, 7, 14, 9, 40), 'cc53e99a-6715-603f-b074-eea93fe11e20', '4b9cc4c9-d58f-a065-722c-7e8b6ebd4a84', 5302, 'Seasonal Flu Vaccine'),
 ('Hedy', 'Von', datetime.datetime(2015, 12, 21, 4, 14, 13), '73d3ebe3-e656-b9de-fd61-88d370a86d51', 'a4fdcef4-194e-54dd-ac51-dc1ffa85eb2d', 5302, 'Seasonal Flu Vaccine'),
 ('Hedy', 'Von', datetime.datetime(2016, 12, 26, 4, 14, 13), '73d3ebe3-e656-b9de-fd61-88d370a86d51', '34c25b3f-0d79-4506-243a-e1a0c89ad908', 5302, 'Seasonal Flu Vaccine')]

In [5]:
%%sql

select 
    p.first,
    p.last,
    i.*
from health_care.patients as p 
left join health_care.immunizations as i
    on p.id = i.patient
    and p.first = 'Hedy'
limit 10

 * postgresql://postgres:***@localhost:5433/postgres
10 rows affected.

[('Hedy', 'Von', datetime.datetime(2013, 12, 9, 4, 14, 13), '73d3ebe3-e656-b9de-fd61-88d370a86d51', '2bb23033-f5e9-024e-35fb-9d939ca69f18', 5302, 'Seasonal Flu Vaccine'),
 ('Hedy', 'Von', datetime.datetime(2014, 12, 15, 4, 14, 13), '73d3ebe3-e656-b9de-fd61-88d370a86d51', '570d34ce-6c5d-bbb0-669b-66abbd3fd112', 5302, 'Seasonal Flu Vaccine'),
 ('Hedy', 'Von', datetime.datetime(2015, 12, 21, 4, 14, 13), '73d3ebe3-e656-b9de-fd61-88d370a86d51', 'a4fdcef4-194e-54dd-ac51-dc1ffa85eb2d', 5302, 'Seasonal Flu Vaccine'),
 ('Hedy', 'Von', datetime.datetime(2016, 12, 26, 4, 14, 13), '73d3ebe3-e656-b9de-fd61-88d370a86d51', '34c25b3f-0d79-4506-243a-e1a0c89ad908', 5302, 'Seasonal Flu Vaccine'),
 ('Hedy', 'Von', datetime.datetime(2016, 12, 26, 4, 14, 13), '73d3ebe3-e656-b9de-fd61-88d370a86d51', '34c25b3f-0d79-4506-243a-e1a0c89ad908', 5303, 'Five doses of tetanus toxoid, preservative-free and adsorbed, for adults.'),
 ('Hedy', 'Von', datetime.datetime(2018, 1, 1, 4, 14, 13), '73d3ebe3-e656-b9de-fd61-88d370a86d51', 'da9d342d-86a8-e506-35b2-d943f8e394ee', 5302, 'Seasonal Flu Vaccine'),
 ('Hedy', 'Von', datetime.datetime(2019, 1, 7, 4, 14, 13), '73d3ebe3-e656-b9de-fd61-88d370a86d51', '9bf9f10e-6d52-9e80-757d-6276dee4ed00', 5302, 'Seasonal Flu Vaccine'),
 ('Hedy', 'Von', datetime.datetime(2020, 1, 13, 4, 14, 13), '73d3ebe3-e656-b9de-fd61-88d370a86d51', '9d02c48b-fb27-2d08-55df-6ab934c3cf30', 5302, 'Seasonal Flu Vaccine'),
 ('Hedy', 'Von', datetime.datetime(2021, 1, 18, 4, 14, 13), '73d3ebe3-e656-b9de-fd61-88d370a86d51', '872a8d13-93a5-1cd1-3740-cf353f109453', 5302, 'Seasonal Flu Vaccine'),
 ('Hedy', 'Von', datetime.datetime(2021, 4, 12, 4, 14, 13), '73d3ebe3-e656-b9de-fd61-88d370a86d51', '3f84dd1a-2557-f07f-08f3-07189183e1e4', 5304, 'Novel Coronavirus (COVID-19) mRNA Vaccine 100 mcg/0.5mL Dose')]

# Inner JOIN on 'Patients' and 'Immunizations' tables